:root {
  --snakePartSize: 20px;
}

#snake-container {
  position: relative;
}

.snake-part {
  position: absolute;
  background-color: #4b8bbe;
  height: var(--snakePartSize);
  width: var(--snakePartSize);
  border-radius: 4px;
  transition: 0s;
}

.snake-head {
  position: absolute;
  transition: 0s;
  height: var(--snakePartSize);
  width: var(--snakePartSize);
  background-color: none;
  background-image: url(python_head.png);
  background-size: contain;
  background-repeat: no-repeat;
}
